#LOGO img{ 
   width: 30px;
    height: 30px;
}
#Carta1 img,#Carta2 img{
    width: 310px;
    height: 222px;
}
#ProductoDisponiblePer h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#Carta1 img, #Carta2 img{
    align-self: center;
    width: 310px;
    height: 222px;
}
#Carta1 p,#Carta1 h5,#Carta2 p,#Carta2 h5{
text-align: center;
}